.main{
    .precios{
        background: url(../img/precios-bg.jpg), #727171;
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        padding: 70px 0;
    }
}